<a href="https://colab.research.google.com/github/fritzpalomo/Project-Dataset-Preprocessing-and-Feature-Engineering-/blob/main/Customer_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('customers_data.csv')

# Display basic information about the dataset
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      90 non-null     float64
 1   Company_Name    100 non-null    object
 2   Company_Profit  88 non-null     float64
 3   Address         100 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

(None,
    Company_ID          Company_Name  Company_Profit  \
 0         1.0  Tech  Enterprises  1         80701.0
 1         2.0   Global  Partners  2         80511.0
 2         3.0  Quantum Associates 3        110664.0
 3         4.0       Prime Network 4             NaN
 4         5.0    Elite  Ventures  5         69427.0

                                              Address
 0             EDSA, Barangay 606, Pasig, Philippines
 1  Commonwealth Ave, Barangay 789, Taguig, Philip...
 2       Roxas Blvd, Barangay 505, Pasig, Philippines
 3  Alabang-Zapote Rd, Barangay 202, Taguig, Phili...
 4    Ayala Avenue, Barangay 101, Makati, Philippines  )

In [ ]:
# Fill missing Company_ID values with the next available integer value
df['Company_ID'] = df['Company_ID'].interpolate().astype(int)

# Handle missing Company_Profit by filling with the median
df['Company_Profit'].fillna(df['Company_Profit'].median(), inplace=True)

# Extract City and Barangay from Address using regex
df['City'] = df['Address'].str.extract(r',\s*([^,]+),\s*Philippines')
df['Barangay'] = df['Address'].str.extract(r'Barangay\s*(\d+)')

# Convert Barangay to numeric type
df['Barangay'] = pd.to_numeric(df['Barangay'], errors='coerce')

# Categorize Company_Profit into bins (Low, Medium, High)
profit_bins = [0, 70000, 100000, df['Company_Profit'].max()]
profit_labels = ['Low', 'Medium', 'High']
df['Profit_Category'] = pd.cut(df['Company_Profit'], bins=profit_bins, labels=profit_labels)

# Display the cleaned dataset
df.head()

/var/folders/s5/bxh06wfn0bs80gz6wbw_5msc0000gn/T/ipykernel_82360/232972074.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Company_Profit'].fillna(df['Company_Profit'].median(), inplace=True)

,Company_ID,Company_Name,Company_Profit,Address,City,Barangay,Profit_Category
0,1,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines",Pasig,606.0,Medium
1,2,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip...",Taguig,789.0,Medium
2,3,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines",Pasig,505.0,High
3,4,Prime Network 4,75301.5,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili...",Taguig,202.0,Medium
4,5,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines",Makati,101.0,Low